/* Dashboard Page Styling */
.dashboard-page {
  .dashboard-page-card-bookings,
  .dashboard-page-card-life-moments {
    border-radius: 10px;
    background-color: white;
  }

  .dashboard-page-card-bookings-header,
  .dashboard-page-card-life-moments-header {
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    background-color: navy;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
  }

  .dashboard-page-card-bookings-body,
  .dashboard-page-card-life-moments-body {
    padding: 1.5rem;
  }

  .list-group-item {
    border: none;
    padding: 1rem;
  }

  .list-group-item h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .list-group-item p {
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  .list-group-item .badge {
    font-size: 0.875rem;
  }

  /* Dashboard Booking Card Styles */
  .dashboard-booking-card {
    display: flex;
    align-items: center; /* Vertically centers the items */
    margin-bottom: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
  }

  .dashboard-booking-card-img-container {
    width: 1/3; /* Adjust the width as needed */
    display: flex;
    align-items: center; /* Vertically centers the image within the container */
    justify-content: center; /* Horizontally centers the image within the container */
  }

  .dashboard-booking-card-img {
    width: 100px; /* Adjust the width as needed */
    height: 75px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the container without distortion */
    border-radius: 5px;
  }

  .dashboard-booking-card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  /* Dashboard Life Moment Card Styles */
  .dashboard-life-moment-card {
    display: flex;
    align-items: center; /* Vertically centers the items */
    margin-bottom: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    height: 130px;
  }

  .dashboard-booking-card {
    height: 130px; /* Set your desired max height here */
  }

  .dashboard-life-moment-card-img-container {
    width: 1/3; /* Adjust the width as needed */
    display: flex;
    align-items: center; /* Vertically centers the image within the container */
    justify-content: center; /* Horizontally centers the image within the container */
  }

  .dashboard-life-moment-card-img {
    width: 100px; /* Adjust the width as needed */
    height: 75px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the container without distortion */
    border-radius: 5px;
  }

  .dashboard-life-moment-card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
