<div class="d-flex justify-content-center p-4" style="border-bottom: 1px solid #dcdcdc; background-color: #f0f0f0;">
  <div class="mt-4">
    <form class="form-inline d-flex">
      <!-- Keyword Input -->
      <div class="form-group mr-4 m-1">
        <input class="form-control form-control-sm" type="search" placeholder="Keyword" aria-label="Keyword">
      </div>

      <!-- Date Inputs -->
      <div class="form-group mr-2 m-1">
        <input class="form-control form-control-sm" type="text" placeholder="Check-in Date" aria-label="Check-in Date">
      </div>
      <div class="form-group mr-2 m-1">
        <input class="form-control form-control-sm" type="text" placeholder="Check-out Date" aria-label="Check-out Date">
      </div>

      <!-- Search Button -->
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</div>
