
<div class="mt-2">
  <h3>Make Life Moment Available for Rent - Share your life with others!</h3>
</div>

<%= render "life_moments/form", life_moment: @life_moment %>

<div class="d-flex justify-content-center mt-2">
<%= link_to "Go back to homepage", life_moments_path %>
</div>
